
/.vs/
/АндалаИван/
/БарбашеваАлина/
/БобровскаяАнна/
/ВараваАрсений/
/ВидилинАлексей/
/ГабруковичРоман/
/ГавлевНикита/
/ГорьковойНикита/
/ГрибачНазар/
/ГригорьевКирилл/
/ДержавскаяЕлена/
/ДержавскаяЛюдмила/
/ДжалиловаНаргиз/
/Дяткоегор/
/Кавцевич/
/Каминскийалексей/
/КовальчукАндрей/
/КозинцевМаксим/
/КухтоВероника/
/ЛатиповУмидбек/
/ЛинникМария/
/МалаховГлеб/
/Меньшиковматвей/
/ПлеховаЕлизавета/
/подрябинкинзахар/
/СёмченаДарья/
/СивцовАртём/
/СинютинНазар/
/СкобялкоЯрослав/
/СулимовАлексей/
/ЯрмошукВиктория/
/подрябинкинзахар/
test.txt